<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>River List</h3>
		<hr class="divider">
		<div class="form-inline">
			<label for="basinSearch">Basin:</label> <input type="text"
				id="basinSearch" class="form-control" ng-model="search.basin"
				placeholder="대권역 "> <label for="midSearch">Mid:</label> <input
				type="text" id="midSearch" class="form-control"
				ng-model="search.midWatershed" placeholder="중권역"> <label
				for="subSearch">Sub:</label> <input type="text" id="subSearch"
				class="form-control" ng-model="search.subWatershed"
				placeholder="소권역"> <label for="classSearch">Classification:</label>
			<input type="text" id="classSearch" class="form-control"
				ng-model="search.classification" placeholder="하천구분">
			<button type="button" class="btn btn-sm btn-info" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-circle"></span> Cancel
			</button>
		</div>
	</div>
	<div class="panel-body">

		<table class="table table-hover">
			<thead>
				<tr class="paginationclass">
					<th>RiverID</th>
					<th>Basin</th>
					<th>WaterSystem</th>
					<th>Mid-Watershed</th>
					<th>Sub-Watershed</th>
					<th>RiverName</th>
					<th>Classification</th>

					<th colspan="2">
						<button ng-click="createRiver()" class="btn btn-sm btn-info">
							<span class="glyphicon glyphicon-plus"></span> Add New River
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="paginationclass"
					ng-repeat="river in rivers | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">
					<td>{{ river.riverID }}</td>
					<td>{{ river.basin }}</td>
					<td>{{ river.waterSystem }}</td>
					<td>{{ river.midWatershed }}</td>
					<td>{{ river.subWatershed }}</td>
					<td>{{ river.riverName }}</td>
					<td>{{ river.classification }}</td>
					<td><button type="button" ng-click="editRiver(river.riverID)"
							class="btn btn-sm btn-primary">
							<span class="glyphicon glyphicon-edit"></span> Detail
						</button></td>
					<td><button type="button"
							confirmed-click="deleteRiver(river.riverID)"
							ng-confirm-box-click="Are you sure to Delete?"
							class="btn btn-sm btn-warning">
							<span class="glyphicon glyphicon-trash"></span> Delete
						</button></td>

				</tr>
			</tbody>
		</table>
		<div align="center">
			<pagination ng-model="currentPage" total-items="rivers.length"
				max-size="maxSize" items-per-page="numPerPage" boundary-links="true">
			</pagination>
		</div>
	</div>
</div>