<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Site List</h3>
		<hr class="divider">
		<div class="form-inline">
			<label for="river">River: </label> <input type="text"
				id="river" class="form-control" ng-model="search.river.riverName" placeholder="river"> 
			<labelfor="site">Site: </label> <input type="text"
				id="site" class="form-control" ng-model="search.siteName" placeholder="site"> 
			<label for="sid">Site ID: </label> <input type="text"
				id="sid" class="form-control" ng-model="search.siteID" placeholder="id"> 
			<label for="add">Address: </label> <input type="text"
				id="add" class="form-control" ng-model="search.address" placeholder="address">
			<button type="button" class="btn btn-sm btn-info" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-circle"></span> Cancel
			</button>
		</div>
	</div>
	<div class="panel-body">

		<table class="table table-hover">
			<thead>
				<tr class="paginationclass">
					<th>SiteID</th>
					<th>SiteName</th>
					<th>RiverName</th>
					<th>StreamOrder</th>
					<th>Address</th>
					<th colspan="2">
						<button ng-click="createSite()" class="btn btn-sm btn-info">
							<span class="glyphicon glyphicon-plus"></span> Add New Site
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="paginationclass"
					ng-repeat="site in sites | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">
					<td>{{ site.siteID }}</td>
					<td>{{ site.siteName }}</td>
					<td>{{ site.river.riverName }}</td>
					<td>{{ site.streamOrder }}</td>
					<td>{{ site.address }}</td>
					<td><button type="button" ng-click="editSite(site.siteID)"
							class="btn btn-sm btn-primary">
							<span class="glyphicon glyphicon-edit"></span> Detail
						</button></td>
					<td><button type="button"
							confirmed-click="deleteSite(site.siteID)"
							ng-confirm-box-click="Are you sure to Delete?"
							class="btn btn-sm btn-warning">
							<span class="glyphicon glyphicon-trash"></span> Delete
						</button></td>

				</tr>
			</tbody>
		</table>

		<div align="center">
			<pagination ng-model="currentPage" total-items="sites.length"
				max-size="maxSize" items-per-page="numPerPage" boundary-links="true">
			</pagination>
		</div>
	</div>
</div>
