<div class="panel panel-primary">
	<div class="panel-heading">Site List</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="siteSearch">Site Name:</label> <input type="text"
				ng-model="search.siteName" placeholder="site "> <label
				for="addSearch">Address:</label> <input type="text"
				ng-model="search.address" placeholder="address">
			<button type="button" ng-click="cancel()" class="btn btn-sm">Cancel</button>
		</div>
		<table class="table table-hover">
			<thead>
				<tr class="paginationclass">
					<th>SiteID</th>
					<th>SiteName</th>
					<th>Basin</th>
					<th>RiverName</th>
					<th>StreamOrder</th>
					<th>Classification</th>
					<th>Address</th>
					<th colspan="2">
						<button ng-click="createSite()" class="btn btn-sm btn-info">
							<span class="glyphicon glyphicon-plus"></span> Add New Site
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="paginationclass"
					ng-repeat="site in sites | filter:search | pagination: (currentPage-1) * numPerPage | limitTo: numPerPage">
					<td>{{ site.siteID }}</td>
					<td>{{ site.siteName }}</td>
					<td>{{ site.river.waterSystem }}</td>
					<td>{{ site.river.riverName }}</td>
					<td>{{ site.streamOrder }}</td>
					<td>{{ site.river.classification }}</td>
					<td>{{ site.address }}</td>
					<td><button type="button" ng-click="editSite(site.siteID)"
							class="btn btn-sm btn-primary">
							<span class="glyphicon glyphicon-edit"></span> Edit
						</button></td>
					<td><button type="button" ng-click="deleteSite(site.siteID)"
							class="btn btn-sm btn-warning">
							<span class="glyphicon glyphicon-trash"></span> Delete
						</button></td>

				</tr>
			</tbody>
		</table>

		<div align="center">
			<pagination ng-model="currentPage" total-items="sites.length"
				max-size="maxSize" items-per-page="numPerPage" boundary-links="true">
			</pagination>
		</div>
	</div>
</div>
